.h150{
    height: 150px;
}
.w150{
    width: 150px;
}
.border{
    border: 1px solid #ffffff;
}
.bcgr_sil{
    background: #3f3d3d;
}
.txt_ctr{
    text-align: center;
}
.w470{
    width: 470px;
}
.h570{
    height: 520px;
}
.col_whi{
    color: white;
}

