.all_screen{
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    border: 1px solid black;
}
.w200{
    width: 200px;
}
.h40{
    height: 40px;
}
.bcgr{
    background: #e5e5e7;
}
.mrgn-t20{
    margin-top: 20px;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    width: 250px;
}
.wraper_all{
    display: flex;
}
.wraper_all_right{
    width: 100%;
    border: 1px solid black;
}
.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 770px;
}
.screen_element{
    background: #e5e5e7;
    width: 93%;
    height: 93%;
}
.small_screens{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 290px;
    border: 1px solid black;
}
.small_screen{
    width: 300px;
    height: 200px;
}
.two_column_wrap{
    display: flex;
}
.two_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1330px;
    border: 1px solid black;
}
.a_lot_screen{
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.column_item{
    height: 150px;
    width: 550px;
    margin: 50px;
}
.one_more{
    margin-bottom: 20px;
}
.right_side{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 1320px;
}
.two_column_wrap{
    display: flex;
}
.right_item{
    margin-top: 50px;
    height: 120px;
    width: 300px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    border: 1px solid black;
    row-gap: 15px;
}
.txt{
    width: 95%;
}
.text{
    width: 10%;
}