#container{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 960px;

}
.two_box{
    width: 900px;
    background: #2268bb;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 500px;
}
#container_2{
    box-sizing: border-box;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
}
.rectangle{
    background: #2268bb;
    color: white;
    font-size: 50px;
    height: 500px;
    text-align: center;
    padding-top: 400px;
}
#container_3{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
}
.three_box{
    width: 590px;
    height:500px;
    background: #16447a;
    text-align: center;
    padding-top: 420px;
    font-size: 50px;
    color: white;
}







/*necessarily2*/
.conteiner11{
    display: flex;
}
.header11{
    background: #d1b395;
    height: 500px;
}
.body11{
    display: flex;
}
.left_part2{
    display: flex;
    justify-content: flex-start;
}
.bodyFooter11{
    display: flex;
    flex-direction: column;

}
.box11{
    background: #6ab967;
    width: 400px;
    height: 400px;
    margin-right: 10px;
    margin-top: 10px;
}
.rightpart11{
    background: #8785ab;
    width: 640px;
    height: 810px;
    margin-top: 10px;
}







/*necessarily3*/

.container9{
    display: flex;
    flex-wrap: wrap;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: #7f7f80;
    width: 1900px;
    height: 200px;
    margin-bottom: 10px;
}
.body{
    display: flex;
}
/*.bodyLeftPart{*/
/*    display: flex;*/
/*}*/
.bodyHeader{
    display: flex;
}
.bodyHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: #16447a;
    height: 200px;
    width: 1500px;
}
.bodyFooter{
    display: flex;
    justify-content: space-between;

}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: #8785ab;
    width: 470px;
    height: 470px;
    margin-top: 10px;
}
.bodyRightPart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: #6ab967;
    width: 390px;
    height: 680px;
    margin-left: 10px;
}